*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Corpo */
body{
    background: linear-gradient(135deg,#74b9ff,#dfe6e9);
    font-family: Arial, Helvetica, sans-serif;
    color:#2d3436;
    text-align:center;
    padding:30px;
}

/* Caixa principal */
body{
    max-width:1000px;
    margin:auto;
}

/* Títulos */
h1{
    color:#0a2449;
    font-size:45px;
    margin-bottom:20px;
    text-transform:uppercase;
    text-shadow:2px 2px 5px rgba(0,0,0,0.2);
}
h2 {
    margin:20px 0 ;
    color: #162870;
}
h3,h4{
    margin:20px 0;
    color:#1e3799;
}

/* Parágrafo */
p{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    line-height:1.8;
    font-size:18px;
    margin:20px auto;
    max-width:850px;
}

/* Foto */
img{
    width:280px;
    height:280px;
    object-fit:cover;
    border-radius:50%;
    border:8px solid white;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
    margin:25px;
    transition:.5s;
}

img:hover{
    transform:scale(1.08) rotate(3deg);
}

/* Lista */
ul{
    list-style:none;
    margin:20px auto;
    max-width:500px;
}

ul li{
    background:white;
    margin:12px 0;
    padding:15px;
    border-left:8px solid #0984e3;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
    text-align:left;
}

/* Links */
a{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#0984e3;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
}

a:hover{
    background:#0652DD;
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,.3);
}

/* Linha separadora */
h4::after{
    content:"";
    display:block;
    width:120px;
    height:4px;
    background:#0984e3;
    margin:10px auto;
    border-radius:10px;
}

/* Responsivo */
@media(max-width:768px){

    h1{
        font-size:32px;
    }

    p{
        font-size:16px;
    }

    img{
        width:220px;
        height:220px;
    }
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

table th {
    background: #0984e3;
    color: white;
    padding: 15px;
    font-size: 18px;
}

table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

table tr:nth-child(even) {
    background: #f5f5f5;
}

table tr:hover {
    background: #dfe6e9;
}

table a {
    display: inline-block;
    margin: 0;
    padding: 8px 15px;
    background: #0984e3;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: .3s;
}

table a:hover {
    background: #0652DD;
}
